<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>225889357768-197qqi3alt82e6qcgs4j40893c8p5tsm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.225889357768-197qqi3alt82e6qcgs4j40893c8p5tsm</string>
	<key>API_KEY</key>
	<string>AIzaSyA33oaAqtHGwyTW2uFJauHG3GOJwt6OH5g</string>
	<key>GCM_SENDER_ID</key>
	<string>225889357768</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.prororype.mooviz</string>
	<key>PROJECT_ID</key>
	<string>mooviz-38142</string>
	<key>STORAGE_BUCKET</key>
	<string>mooviz-38142.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:225889357768:ios:569d720ecca3a8b14a7afd</string>
</dict>
</plist>